---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { ROOT_STYLE, POST_TITLE } from '../style';
import { SITE_TITLE } from '../consts';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate } = Astro.props;

---

<html lang="en">
	<head>
		<BaseHead title={`${SITE_TITLE} :: ${title}`} description={description} />
	</head>

		<body class={ROOT_STYLE}>
		<Header />
		<main>
			<article>
				<div class={POST_TITLE}>
          	<h2>{title}</h2>
						<div>
							<FormattedDate date={pubDate} />
				    </div>
        </div>
						<hr />
					<slot />
          	<hr />
			</article>
		</main>
		<Footer />
	</body>
</html>
